In [1]:
import numpy as np

In [2]:
import pandas as pd

In [3]:
df = pd.read_csv("AirQualityUCI.csv", sep = ";", decimal = ",")
df = df.iloc[ : , 0:14]

In [4]:
np.size(df)

132594

In [5]:
df = df[df['Date'].notnull()]

In [6]:
np.size(df)

130998

In [7]:
df.isna().sum()

Date             0
Time             0
CO(GT)           0
PT08.S1(CO)      0
NMHC(GT)         0
C6H6(GT)         0
PT08.S2(NMHC)    0
NOx(GT)          0
PT08.S3(NOx)     0
NO2(GT)          0
PT08.S4(NO2)     0
PT08.S5(O3)      0
T                0
RH               0
dtype: int64

In [8]:
df['T']

0       13.6
1       13.3
2       11.9
3       11.0
4       11.2
5       11.2
6       11.3
7       10.7
8       10.7
9       10.3
10      10.1
11      11.0
12      10.5
13      10.2
14      10.8
15      10.5
16      10.8
17      10.5
18       9.5
19       8.3
20       8.0
21       8.3
22       9.7
23       9.8
24      10.3
25       9.7
26       9.6
27       9.1
28       8.2
29       8.2
        ...
9327    17.8
9328    21.1
9329    24.0
9330    26.5
9331    28.7
9332    28.5
9333    30.0
9334    29.4
9335    28.9
9336    22.8
9337    19.9
9338    17.5
9339    16.4
9340    15.5
9341    14.3
9342    14.2
9343    13.8
9344    12.1
9345    11.3
9346    11.8
9347    10.4
9348     9.5
9349     9.7
9350    13.5
9351    18.2
9352    21.9
9353    24.3
9354    26.9
9355    28.3
9356    28.5
Name: T, Length: 9357, dtype: float64

In [9]:
df['T_t-1'] = df['T'].shift(1)

In [10]:
df['T_t-1']

0        NaN
1       13.6
2       13.3
3       11.9
4       11.0
5       11.2
6       11.2
7       11.3
8       10.7
9       10.7
10      10.3
11      10.1
12      11.0
13      10.5
14      10.2
15      10.8
16      10.5
17      10.8
18      10.5
19       9.5
20       8.3
21       8.0
22       8.3
23       9.7
24       9.8
25      10.3
26       9.7
27       9.6
28       9.1
29       8.2
        ...
9327    13.5
9328    17.8
9329    21.1
9330    24.0
9331    26.5
9332    28.7
9333    28.5
9334    30.0
9335    29.4
9336    28.9
9337    22.8
9338    19.9
9339    17.5
9340    16.4
9341    15.5
9342    14.3
9343    14.2
9344    13.8
9345    12.1
9346    11.3
9347    11.8
9348    10.4
9349     9.5
9350     9.7
9351    13.5
9352    18.2
9353    21.9
9354    24.3
9355    26.9
9356    28.3
Name: T_t-1, Length: 9357, dtype: float64

In [11]:
df_naive = df[['T','T_t-1']][1:]

In [12]:
df_naive

         T  T_t-1
1     13.3   13.6
2     11.9   13.3
3     11.0   11.9
4     11.2   11.0
5     11.2   11.2
6     11.3   11.2
7     10.7   11.3
8     10.7   10.7
9     10.3   10.7
10    10.1   10.3
11    11.0   10.1
12    10.5   11.0
13    10.2   10.5
14    10.8   10.2
15    10.5   10.8
16    10.8   10.5
17    10.5   10.8
18     9.5   10.5
19     8.3    9.5
20     8.0    8.3
21     8.3    8.0
22     9.7    8.3
23     9.8    9.7
24    10.3    9.8
25     9.7   10.3
26     9.6    9.7
27     9.1    9.6
28     8.2    9.1
29     8.2    8.2
30     8.3    8.2
...    ...    ...
9327  17.8   13.5
9328  21.1   17.8
9329  24.0   21.1
9330  26.5   24.0
9331  28.7   26.5
9332  28.5   28.7
9333  30.0   28.5
9334  29.4   30.0
9335  28.9   29.4
9336  22.8   28.9
9337  19.9   22.8
9338  17.5   19.9
9339  16.4   17.5
9340  15.5   16.4
9341  14.3   15.5
9342  14.2   14.3
9343  13.8   14.2
9344  12.1   13.8
9345  11.3   12.1
9346  11.8   11.3
9347  10.4   11.8
9348   9.5   10.4
9349   9.7    9.5
9350  13.5    9.7
9351  18.2   13.5
9352  21.9   18.2
9353  24.3   21.9
9354  26.9   24.3
9355  28.3   26.9
9356  28.5   28.3

[9356 rows x 2 columns]

In [13]:
from sklearn import metrics
from math import sqrt

In [14]:
true = df_naive['T']

In [15]:
prediction = df_naive['T_t-1']

In [16]:
error = sqrt(metrics.mean_squared_error(true,prediction))

In [17]:
error

12.901140576492974

In [18]:
print ('RMSE for Naive Method 2: ', error)

RMSE for Naive Method 2:  12.901140576492974